*{
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    font-weight: 600;
    font-size: small;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
}
.calculator-main__body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;     
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    width: 299px;
    height: 500px;
    background: linear-gradient(to bottom right, gray , rgb(38, 35, 35) 50%);
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    color: rgb(255, 255, 255);
    padding-bottom:12px ;
    padding-top:   10px;
    padding-right: 10px;
}

.calculator-main__body h1{
    font-size: 1rem;
    color: rgb(203, 138, 84);
    margin-bottom: 0;
}
.calculator-main__body .calculator-screen{
    display: flex;
    flex-direction: row-reverse;
    font-size: 30px;
    padding-top: 15px;
    width: 245px;
    min-height: 50px;
    border-bottom:thin solid rgb(136, 127, 127) ;
}
.calculator-main__body .calculator-screen-two{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    padding-top: 20px;
    margin-top: 0px;
    width: 190px;
    height: 25px;
    border-top-width:200px;
    border-top: thin solid rgb(203, 138, 84);

}
.calculator-main__body .first-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calculator-main__body ul{
    display: flex;
    text-align: center;
    place-items: center;
    list-style: none;
    margin-top: 10px;
    padding-right: 10px;
    margin-left: 10px;
    gap: 12px;

    
}

.calculator-main__body li{
    position: relative;
    font-size: 25px;
    display: grid;
    place-items: center;
    align-items: center;
    

    
}
.calculator-main__body .signs{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: rgba(100, 96, 96, 0.777);
    font-weight: 200;
}
.calculator-main__body .numbers{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: thin solid grey;
    font-weight: 200;
}
.calculator-main__body .clear{
    background-color:rgb(235, 112, 35) ;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: white;


} 
.calculator-main__body .del{
    background-color:rgb(235, 112, 35) ;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: white;

}
.calculator-main__body .equal{
    background-color:rgb(235, 112, 35) ;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: white;

}
.calculator-main__body .clear:hover{
    background-color:rgb(235, 112, 35) ;
    cursor: pointer;
    scale: 102%;
}
.calculator-main__body .equal:hover{
    background-color: rgb(235, 112, 35);
    scale: 102%;
}   
.calculator-main__body li:hover{
    background-color: gray;
    cursor: pointer;
    scale: 102%;
}
